@font-face {
  font-family: fast-dots;
  src: url(/src/fast-dots.otf);
}

body {
  background-color: black;
  color: white;
}

h1 {
  font-family: fast-dots;
  font-size: 55px;
  text-align: center;
}

h2 {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  background-color: rgb(252, 255, 185);
  color: rgb(255, 208, 0);
  border-radius: 50px;
  padding: 15px;
  width: fit-content;
  display: block;
  margin: 0 auto;
}

img {
  width: 200px;
  height: auto;
}

.img-grid {
  padding: 50px 15px 0 15px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 25px;
  row-gap: 100px;
}

img:hover {
  filter: invert(1);
  cursor: pointer;
  transition: 1s ease-in-out;
}

.text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 200px;
}

/* les */
/* hover uitleggen */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/@media/hover */

/* verschillende filters */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/filter */
/* alle verschillende filters even afgaan  */
